@charset "UTF-8";

/* Typical device breakpoint 

Pequenas telas - até 600px
Celular - 600px a 768px
Tablets - 768px a 992px
Desktop - 992px a 1200px
Telas gandes - acima de 1200px */

@media screen and (min-width: 768px) and (max-width:992px) {
    section#login {
        width: 80vw;        
    }
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: left;
        width: 30%;
        height: 100%;    
    }
    div#formulario > h1 {
        margin-bottom: 10px;
        

    }
    div#formulario > p {
        font-family:cursive;
        font-size: 1.0em;
    }
    form > input[type=submit] {
        float: left;
        width: 100%;
    }

    form > a.botao {
        float: left;
        width: 100%;
    }
    
}

@media screen and (mini-width:992px) {
    section#login {
        width:950px;
    }

    section#login > section#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > section#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        margin: 10px;
        padding: 10px;

    }
    div#formulario > p {
        font-family: cursive;
    }

    form > input[type=submit] {
        width: 49%;
        float: left;
    }

    form > a.botao {
        display: block;
        width: 49%;
        float: left;
    }
    
}




    






